.block_dixeo_coursegen.card {
    background-color: transparent;
    border: none;
}

.block_dixeo_coursegen h2 {
    color: #108df0;
}

.block_dixeo_coursegen #prompt-form textarea {
    border: none;
}

.block_dixeo_coursegen .generator-form {
    position: relative;
    padding: 20px;
    background-color: #fff;
    margin-bottom: 1.5rem;
    border-radius: 1.2rem;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.block_dixeo_coursegen .dropzone-message {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    color: #8f959e;
    border: 2px dashed #bbb;
    background: #fff;
    display: none;
    align-items: center;
    justify-content: center;
}

.block_dixeo_coursegen .drag-over .dropzone-message {
    display: flex;
}

.block_dixeo_coursegen #course_description {
    overflow-y: hidden;
    min-height: 60px;
    max-height: 200px;
}

.block_dixeo_coursegen #generate_course {
    right: 3%;
    height: 35px;
    background-color: #108df0;
    font-weight: 700;
    padding: 5px 10px;
}

.block_dixeo_coursegen #generate_course:focus,
.block_dixeo_coursegen #generate_course.focus {
    box-shadow: none;
}

.block_dixeo_coursegen #generate_course img {
    position: relative;
    margin-right: 5px;
}

.block_dixeo_coursegen .upload-instructions {
    font-size: 12px;
}

.block_dixeo_coursegen .label_course_files {
    left: 10px;
    top: 50%;
    cursor: pointer;
    margin-bottom: 0
}

.block_dixeo_coursegen .s-progress {
    background-color: #babfc5;
    border-radius: 0;
    height: 12px;
}

.block_dixeo_coursegen .s-progress .s-progress--bar {
    background-color: #108df0;
    height: 100%;
    border-radius: 0;
    transition: width 1s ease-in-out;
    max-width: 100% !important;
}

.block_dixeo_coursegen .s-progress .s-progress--bar.done {
    background-color: #108df0;
    transition: width 0.2s ease-in-out;
}

.block_dixeo_coursegen .s-progress__segmented {
    position: relative;
}

.block_dixeo_coursegen .s-progress .s-progress--segments {
    display: flex;
    height: 100%;
    justify-content: space-between;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.block_dixeo_coursegen .s-progress .s-progress--segments li {
    display: block;
    position: relative;
    padding-top: 10px;
    font-size: 12px;
    text-align: center;
    width: 25%;
}

.block_dixeo_coursegen .s-progress .s-progress--segments li:last-child {
    width: 0;
}

.block_dixeo_coursegen .s-progress .s-progress--segments li:before {
    background-color: #FFFFFF;
    content: "";
    height: 101%;
    top: 0;
    left: -4px;
    position: absolute;
    width: 12px;
    clip-path: polygon(40% 0, 100% 50%, 40% 100%, 0% 100%, 60% 50%, 0% 0%);
}

.block_dixeo_coursegen .s-progress .s-progress--segments li:first-child:before {
    clip-path: polygon(40% 0%, 100% 50%, 40% 100%, 0% 100%, 0% 0%);
}

.block_dixeo_coursegen .s-progress .s-progress--segments li:last-child:before {
    clip-path: polygon(100% 0, 100% 100%, 0% 100%, 60% 50%, 0% 0%);
    left: -8px;
}

.block_dixeo_coursegen #file_names .file-item {
    border-radius: 8px;
    font-size: 13px;
    display: inline-block;
    padding: 6px 10px;
    margin: 0 5px 15px 0;
    background: #108df026;
    position: relative;
}

.block_dixeo_coursegen #file_names .file-item:hover {
    background: #108df033;
}

.block_dixeo_coursegen .delete-icon {
    color: #aaa;
    display: inline-block;
    position: absolute;
    background: #ddd;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    top: -4px;
    right: -8px;
}

.block_dixeo_coursegen .delete-icon:hover {
    color: #333;
    background: #ccc;
    cursor: pointer;
}

.block_dixeo_coursegen .delete-icon i {
    position: absolute;
    top: 1px;
    right: 3px;
}

.block_dixeo_coursegen #file_names ul {
    list-style-type: none;
}

.block_dixeo_coursegen .p64 {
    padding: 15px 0px 25px 0;
}
.block_dixeo_coursegen .alert_course_generated,
.block_dixeo_coursegen #loader {
    color: #7f7f7f;
    padding: 40px !important;
    background-color: #fff;
    margin-bottom: 1.5rem;
    border-radius: 1.2rem;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.block_dixeo_coursegen #loader {
    padding-bottom: 60px !important;
}

.block_dixeo_coursegen .alert_course_generated .side-by-side {
    display: flex;
    align-items: flex-end; /* Aligns children to the bottom */
    gap: 0.5rem; /* Optional spacing between label and div */
    padding-top: 0.5rem;
    justify-content: center;
}

.block_dixeo_coursegen .alert_course_generated .button_view_course {
    background-color: #108df0;
    color: #fff;
    padding: 4px 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 700;
}

.block_dixeo_coursegen .alert_course_generated .button_view_course img{
    margin-right: 0.5rem
}

.block_dixeo_coursegen .alert_course_generated .button_generate_another {
    background-color: #fff;
    color: #108df0;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    margin-left: 10px;
    border-color: #108df0;
    border-width: 1px;
    font-weight: normal;
}

.block_dixeo_coursegen .alert_course_generated .button_generate_another:hover {
    color: #108df0;
}

.block_dixeo_coursegen .side-by-side {
    display: flex;
    align-items: flex-end;
    gap: 0.5rem;
    padding-top: 0.5rem;
}

.block_dixeo_coursegen .generation-step {
    position: relative;
    top: 10px;
    font-size: 13px;
    font-weight: 500;
    color: gray;
}

@media (max-width: 790px) {
    .block_dixeo_coursegen .p64 {
        padding: 15px 0px 40px 0;
    }

    .block_dixeo_coursegen #course_description {
        font-size: 16px;
        min-height: 100px !important;
    }

    .block_dixeo_coursegen #loader {
        padding: 30px 20px !important;
    }

    .block_dixeo_coursegen #file_names {
        margin-left: -31px;
        margin-bottom: 45px;
    }

    .block_dixeo_coursegen .generation-step {
        display: none;
    }

    .block_dixeo_coursegen #success_message_container .side-by-side {
        display: block;
    }

    .block_dixeo_coursegen #success_message_container .side-by-side a {
        margin: 15px auto 0 auto;
        display: block !important;
    }
}

.block_dixeo_coursegen #success_message_container .side-by-side {
    padding-top: 2.0rem;
}
