.block_course_generator {
    border: none !important;
}

.block_course_generator #carouselControls {
    background: #efeff7;
    border-radius: 10px;
    display: flex;
    min-height: 100px;
}

.block_course_generator .carousel-control-prev,
.block_course_generator .carousel-control-next {
    width: 60px;
    color: #000091;
    font-size: 20px;
}

.block_course_generator .carousel-control-prev:hover,
.block_course_generator .carousel-control-prev:focus,
.block_course_generator .carousel-control-next:hover,
.block_course_generator .carousel-control-next:focus {
    color: #000091;
    box-shadow: none;
}

.block_course_generator .carousel-inner {
    margin: auto;
    padding: 0px 30px;
}

.block_course_generator .dropzone-message {
    position: absolute;
    top: 7px;
    left: 48px;
    width: calc(100% - 96px);
    height: calc(100% - 14px);
    color: #8f959e;
    border: 2px dashed #bbb;
    background: #fff;
    display: none;
    align-items: center;
    justify-content: center;
}

.block_course_generator .drag-over .dropzone-message {
    display: flex;
}

.block_course_generator #course_description {
    overflow-y: hidden;
    min-height: 60px;
    max-height: 200px;
}

.block_course_generator #generate_course {
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    padding: 0;
}

.block_course_generator #generate_course:focus,
.block_course_generator #generate_course.focus {
    box-shadow: none;
}

.block_course_generator #generate_course #progress-spinner {
    color: #000091;
    width: 2.4rem;
    margin: -3px;
    height: 2.4rem;
    vertical-align: -0.125em;
    display: inline-block;
    border: 0.25em solid transparent;
}

.block_course_generator #generate_course #progress-spinner.spinner-border {
    border: 0.25em solid #000091;
    border-right-color: transparent;
}

.block_course_generator #generate_course img {
    top: -36px;
    position: relative;
}

.block_course_generator .label_course_files {
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.block_course_generator .s-progress {
    background-color: #babfc5;
    border-radius: 5px;
    height: 5px;
}

.block_course_generator .s-progress .s-progress--bar {
    background-color: #000091;
    height: 100%;
    border-radius: 5px;
    transition: width 1s ease-in-out;
    max-width: 100% !important;
}

.block_course_generator .s-progress .s-progress--bar.done {
    background-color: #009100;
    transition: width 0.2s ease-in-out;
}

.block_course_generator .s-progress__segmented {
    position: relative;
}

.block_course_generator .s-progress .s-progress--segments {
    display: flex;
    height: 100%;
    justify-content: space-between;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.block_course_generator .s-progress .s-progress--segments li {
    display: block;
    position: relative;
    padding-top: 10px;
    font-size: 12px;
    text-align: center;
    width: 25%;
}

.block_course_generator .s-progress .s-progress--segments li:last-child {
    width: 0;
}

.block_course_generator .s-progress .s-progress--segments li:not(:first-child):not(:last-child):before {
    background-color: #FFFFFF;
    content: "";
    height: 100%;
    top: 0;
    left: -1px;
    position: absolute;
    width: 5px;
}

.block_course_generator .delete-icon {
    color: #8f959e;
}

.block_course_generator .delete-icon:hover {
    color: #910000;
}

.block_course_generator #file_names ul {
    list-style-type: none;
}

.block_course_generator .p64 {
    padding: 15px 0px 25px 0;
}

@media (max-width: 790px) {
    .block_course_generator .p64 {
        padding: 15px 0px 40px 0;
    }
}
