<div id="carouselControls" class="carousel slide m-4 p-4 text-center" data-ride="carousel">
    <div class="carousel-inner">
        {{#prompts}}
            <div class="carousel-item {{#active}}active{{/active}}">
                {{{text}}}
            </div>
        {{/prompts}}
    </div>
    <a href="#carouselControls" class="carousel-control-prev" role="button" data-slide="prev">
        <span aria-hidden="true">
            <i class="fa fa-chevron-left fs-1"></i>
        </span>
    </a>
    <a href="#carouselControls" class="carousel-control-next" role="button" data-slide="next">
        <span aria-hidden="true">
            <i class="fa fa-chevron-right fs-1"></i>
        </span>
    </a>
</div>
