{{#hasFiles}}
    <ul class="pl-4">
        {{#files}}
            <li>
                <span class="mr-1 delete-icon"><i class="fa fa-remove"></i></span> {{ name }} ({{ size }})
            </li>
        {{/files}}
    </ul>
{{/hasFiles}}
