{{#hasFiles}}
    {{#files}}
        <div class="file-item">
            <span class="mr-1 delete-icon" data-toggle="tooltip" title="{{#str}} removefile, block_dixeo_coursegen {{/str}}"><i class="fa fa-remove"></i></span> {{ name }} ({{ size }})
        </div>
    {{/files}}
    <p class="total-size mb-2">{{#str}} totalsize, block_dixeo_coursegen, {{ totalSize }}{{/str}} / {{ maxTotalSize }}</p>
{{/hasFiles}}
