{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_dixeo_coursegen/generation

    Generation animation

    Context variables required for this template:
    * None
}}
<div class="generation-container text-center d-none">
    <h2 class="mb-4">{{#str}} heading2, block_dixeo_coursegen {{/str}}</h2>
    <div id="loader" class="justify-content-center align-items-center">
        <p>{{#str}} generating_course, block_dixeo_coursegen {{/str}}</p>
        <object type="image/svg+xml" data="/blocks/dixeo_coursegen/pix/dixeo-animated.svg" width="100" height="100"></object>
        <div class="s-progress s-progress__segmented">
            <div class="s-progress--bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="75" style="width: 0%;"></div>
            <ol class="s-progress--segments">
                <li>
                    <span class="generation-step">
                        {{#str}} step1, block_dixeo_coursegen {{/str}}
                    </span>
                </li>
                <li>
                    <span class="generation-step">
                        {{#str}} step2, block_dixeo_coursegen {{/str}}
                    </span>
                </li>
                <li>
                    <span class="generation-step">
                        {{#str}} step3, block_dixeo_coursegen {{/str}}
                    </span>
                </li>
                <li>
                    <span class="generation-step">
                        {{#str}} step4, block_dixeo_coursegen {{/str}}
                    </span>
                </li>
                <li>
                    <span class="generation-step">
                        {{#str}} step5, block_dixeo_coursegen {{/str}}
                    </span>
                </li>
                <li></li>
            </ol>
        </div>
    </div>
</div>
