<div class="generation-container text-center d-none">
    <h2 class="mb-4">{{#str}} heading2, block_course_generator {{/str}}</h2>
    <p>{{#str}} generating_course, block_course_generator {{/str}}</p>
    <div id="loader" class="justify-content-center align-items-center p64">
        <video class="mb-5" width="100" height="100" autoplay loop muted>
            <source src="/blocks/course_generator/pix/thinking.webm" type="video/webm">
            <source src="/blocks/course_generator/pix/thinking.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <div class="s-progress s-progress__segmented">
            <div class="s-progress--bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="75" style="width: 0%;"></div>
            <ol class="s-progress--segments">
                <li>{{#str}} step1, block_course_generator {{/str}}</li>
                <li>{{#str}} step2, block_course_generator {{/str}}</li>
                <li>{{#str}} step3, block_course_generator {{/str}}</li>
                <li>{{#str}} step4, block_course_generator {{/str}}</li>
                <li>{{#str}} step5, block_course_generator {{/str}}</li>
                <li></li>
            </ol>
        </div>
    </div>
</div>
