<div class="prompt-container">
    <h3 class="text-center mb-4">{{#str}} heading, block_course_generator {{/str}}</h3>
    {{> block_course_generator/carousel }}
    <form>
        <div class="form-group position-relative mb-0">
            <label for="course_description" class="d-none"></label>
            <textarea id="course_description" name="course_description" class="form-control px-6" placeholder="{{#str}} prompt_placeholder, block_course_generator {{/str}}" data-initial-value=""></textarea>
            <button id="generate_course" class="btn btn-secondary btn-circle position-absolute text-white" title="{{#str}} generate_course, block_course_generator {{/str}}">
                <div id="progress-spinner" role="status"></div>
                <img src="{{ logourl }}" alt="Logo" width="32px" height="32px">
            </button>
            <label for="course_files" class="label_course_files position-absolute">
                <i class="fa fa-paperclip fa-2x"></i>
            </label>
            <input type="file" id="course_files" name="course_files[]" class="form-control d-none" multiple="">
        </div>
        <div id="file_names" class="mt-1"></div>
    </form>
</div>

{{#js}}
require(['block_course_generator/generator'], function(Generator) {
    Generator.init();
});
{{/js}}
