<div id="success_message_container" class="justify-content-center align-items-center mt-3">
    <div class="alert alert-success text-center" role="alert">
        {{#str}} course_generated, block_course_generator, {{courseid}} {{/str}}
    </div>
</div>
