<div id="success_message_container" class="justify-content-center align-items-center mt-3">
    <div class="alert alert_course_generated text-center" role="alert">
        {{#str}} course_generated, block_dixeo_coursegen, {{coursename}} {{/str}}
        <div class="side-by-side">
            <a href="/course/view.php?id={{courseid}}" target="_blank" class="btn button_view_course text-white d-flex align-items-center" title="{{#str}} view_course, block_dixeo_coursegen {{/str}}">
                <img src="/blocks/dixeo_coursegen/pix/dixeo-white.svg" alt="Logo" width="25px" height="25px">
                <span> {{#str}} view_course, block_dixeo_coursegen {{/str}} </span>
            </a>
            <a href="/my/" class="btn button_generate_another d-flex align-items-center" title="{{#str}} generate_another, block_dixeo_coursegen {{/str}}">
                <span> {{#str}} generate_another, block_dixeo_coursegen {{/str}} </span>
            </a>
        </div>
    </div>
</div>
