<div id="generation-widget" class="position-fixed">
    <button id="generation_progress" class="btn btn-secondary btn-circle" disabled title="{{#str}} generating_course, block_dixeo_coursegen {{/str}}">
        <span class="mr-1 delete-icon" data-toggle="tooltip" title="{{#str}} dismiss, block_dixeo_coursegen {{/str}}"><i class="fa fa-remove"></i></span>
        <object type="image/svg+xml" data="/blocks/dixeo_coursegen/pix/dixeo-animated.svg" width="35" height="35"></object>
        <span class="inprogress d-none d-md-inline-block">{{#str}} inprogress, block_dixeo_coursegen {{/str}}</span>
    </button>
</div>

{{#js}}
    require(['jquery'], function($) {
        $(document).ready(function() {
            let widget = $('#generation-widget');
            let removeIcon = widget.find('.delete-icon');
            removeIcon.click(function() {
                widget.hide();
            });
        });
    });
{{/js}}
